@import "tailwindcss";

@theme inline {
  /* --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono); */

  /* Aka 13px */
  --text-base: 0.8125rem;

  /* Colors */
  --color-gray-100: hsl(214, 17%, 92%);
  --color-gray-200: hsl(0, 0%, 81%);
  --color-gray-400: hsl(224, 10%, 45%);
  --color-gray-500: hsl(217, 19%, 35%);
  --color-purple-50: hsl(260, 100%, 95%);
  --color-purple-300: hsl(264, 82%, 80%);
  --color-purple-500: hsl(263, 55%, 52%);
  --color-darkblue: hsl(219, 29%, 14%);
}

* {
  /* @apply outline outline-blue-100; */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  font-size: var(--text-base);
}
